<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="conn" connectionString="Data Source=jobs;User ID=user;Password=****;Initial Catalog=DBNAME;Pooling=true"/>
    </connectionStrings>
    <appSettings>
        <add key="BackendLoginAct" value="user"/>
        <add key="BackendLoginPwd" value="****"/>
        <add key="BackendSession" value="EventAdmin"/>
    </appSettings>
    <system.web>
        <customErrors mode="On"/>
        <compilation debug="false" targetFramework="4.0">
            <assemblies>
                <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
                <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <authentication mode="Windows"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        </pages>
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
